body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* auth form styling */
.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.auth-form form input {
  margin: 10px 0;
}

.auth-form button {
  margin: 10px 0;
  background: #D90B42;
  border: none;
}

.auth-form p.error {
  color: #D93030;
}

/* Truck Card */
.truck-card {
  width: 100%;
}

.truck-card img {
  width: 100%;
  object-fit: contain;
}

/* Header and Navigation */
.header-nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.header-nav .logo {
  padding-top: 10px;
  width: 25%;
  height: 5rem;
}

.header-nav .logo img {
  width: 100%;
  height: 5rem;
  object-fit: contain;
}

.header-nav .nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.header-nav .nav a {
  color: #E44635;
  text-decoration: none;
  font-weight: 500;
  transition: all 300ms;
}

.header-nav .nav a:hover {
  transition: opacity 300ms;
  opacity: 0.8;
}

/* login controls */

.login-controls {
  margin-top: 50px;
}

.login-controls button {
  width: 150px;
  border: none;
  border-radius: 3px;
  font-weight: 300;
  transition: all 300ms;
  padding: 10px;
  margin: 30px 10px 0;
}

.login-controls button:hover {
  transition: opacity 300ms;
  opacity: 0.8;
}

/* misc. */
p.extra {
  margin-top: 20px;
}

/* footer */
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  line-height: 30px;
  height: 30px;
  background: #1a1a1a;
  color: #fafafa;
  font-size: 12px;
}

/* dashboard styling */

.dashboard-container {
  margin-top: 50px;
  width: 100%;
}

.dashboard-container .dashboard-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.dashboard-container .dashboard-card .user-info { 
  width: 70%;
}

.dashboard-container .dashboard-card .user-avatar {
  width: 20%;
}

.dashboard-container .dashboard-card .user-avatar img {
  width: 100%;
  object-fit: contain;
}

.dashboard-container .favorite-trucks {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container .favorite-trucks a {
  text-decoration: none;
  color: #E44635;
  font-weight: 500;
  transition: all 300ms;
}

.dashboard-container .favorite-trucks a:hover {
  transition: opacity 300ms;
  opacity: 0.8;
}
.dashboard-container .favorite-trucks .fav-card {
  margin: 50px 0 50px;
  background: #1a1a1a;
  color: #fafafa;
  font-weight: 300;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #000;
}

.dashboard-container .favorite-trucks .fav-card h4 {
  font-size: 20px;
  margin-top: -20px;
  padding: 0;
  width: 100%;
  height: 30px;
  background: #E44635;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}